<nav id="navbar" class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../public/assets/logo.png" alt="Logo" width="24" height="24"
                class="d-inline-block align-text-top">
            COTTradeViz
        </a>
        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/cot-table" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Get Started
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="hist_visualizer.html">Historical Visualizer</a></li>
                        <li><a class="dropdown-item" href="/cot-table">View current COT data</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Learn More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="faqs.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="learn_more.html">Learn More about the COT Report</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                <a target="_blank" href="https://github.com/Koyejooo"><i class="fa-brands fa-github fa-lg"
                        style="color: #000000;"></i></a>
                <a target="_blank" href="https://linkedin.com/in/koyejo-adinlewa-05144b107"><i
                        class="fa-brands fa-linkedin fa-lg" style="color: #0072b1;"></i></a>
                <a target="_blank" href="https://twitter.com/Its_Koyejo"><i class="fa-brands fa-square-x-twitter fa-lg"
                        style="color: #000000"></i></a>
            </span>
        </div>
    </div>
</nav>